.wrapper  
  .wrap
    .sending__header
      .sending-header__logo
        = link_to image_tag "/assets/logo/logo.png", size: "190x100"
       
    .sending-message
      .sending-message__info
        発送元・お届け先住所入力
    .sending-info
      .sending-info-wrap
        .sending-info-wrap__name
          お名前
          %span.require
            必須
          =form_with model: @sending, class: :sending_form, local: true do |form| 
            = form.text_field :sending_first_name, placeholder: :例）山田, class: :form__top
            = form.text_field :sending_last_name, placeholder: :例）彩, class: :form__bottom 
        .sending-info-wrap__kana
          お名前カナ
          %span.require
            必須
          =form_with model: @sending, class: :sending_form, local: true do |form| 
            = form.text_field :sending_first_namekana, placeholder: :例）ヤマダ, class: :form__top
            = form.text_field :sending_last_namekana, placeholder: :例）アヤ, class: :form__bottom 
        .sending-info-wrap__postal-code
          郵便番号  
          %span.require
            必須
          =form_with model: @sending, class: :sending_form, local: true do |form| 
            = form.text_field :postal_code, placeholder: :例）１２３−４５６, class: :form__single
        .sending-info-wrap__prefecture
          都道府県  
          %span.require
            必須
        .identification__form__field  
          = form_with model: @sending, class: :sending_form, local: true do |form|
            .identification__form__field
              .identification__form__field--input.icon-relative
                = form.collection_select :prefectures, Prefecture.all, :id, :name, prompt: "北海道", class: 'input'              
        .sending-info-wrap__city
          市町村区  
          %span.require
            必須
          =form_with model: @sending, class: :sending_form, local: true do |form| 
            = form.text_field :city, placeholder: :例）横浜市緑区, class: :form__single
        .sending-info-wrap__address
          番地  
          %span.require
            必須
          =form_with model: @sending, class: :sending_form, local: true do |form| 
            = form.text_field :address, placeholder: :例）青山１−１−１, class: :form__single
        .sending-info-wrap__building-name
          建物名  
          %span.requires
            任意
          =form_with model: @sending, class: :sending_form, local: true do |form| 
            = form.text_field :building_name, placeholder: :例）柳ビル１０３, class: :form__single
        .sending-info-wrap__tell
          電話  
          %span.requires
            任意
          =form_with model: @sending, class: :sending_form, local: true do |form| 
            = form.text_field :sending_tell, placeholder: :例）０９０１２３４５６７８９, class: :form__single
        .action
          =form_with model: @sending, class: :sending_form, local: true do |form| 
            = form.submit "登録する", class: "btn-red"
  .fotter-logo
    = link_to image_tag "/assets/logo/logo.png", size: "120x60"
  .fotter-mark
    ©︎FURIMA