:css
  #a {
    color: rgb(102, 100, 100);
    background-color: rgb(170, 250, 250);
    pointer-events:none;
    font-weight: 900;
  }

.my_page
  .content
  .my_page__sidebar
    .my_page__sidebar__top
      %ul
        %li{class:"my_page-list", id:"a"}< マイページ
        %li{class:"my_page-list", id:"b"}< いいね！一覧
        =link_to new_item_path do
          %li{class:"my_page-list", id:"c"}< 出品する
        %li{class:"my_page-list", id:"d"}< 出品した商品・出品中
        %li{class:"my_page-list", id:"e"}< 出品した商品・取引中
        %li{class:"my_page-list", id:"f"}< 出品した商品・売却済み
        %li{class:"my_page-list", id:"g"}< 購入した商品・取引中
        %li{class:"my_page-list", id:"h"}< 購入した商品・過去の取引
    .my_page__sidebar__bottom
      .title 設定
      %ul
        = link_to new_sending_path do
          %li{class:"my_page-list", id:"i"}< 発送元・お届け先
        -# %li{class:"my_page-list", id:"g"}< 支払い方法
        %li{class:"my_page-list", id:"k"}< メール/パスワード
        %li{class:"my_page-list", id:"l"}< 本人情報
        %li{class:"my_page-list", id:"m"}< ログアウト
  .my_page__main
    .my_page__main__user-icon-box
      .user-icon
        = image_tag (src='')
      .user-name
        新宅あつし
      .user-info
        .evaluation-count
          評価:
          %span 5
        .exhibition-count
          出品数:
          %span 3
    .my_page__main__product-container{class: "main"}
      %h3 購入した商品
      %ul
        %li{id:"during-trading"}取引中
        %li{id:"past"} 過去の取引
      .during-trading-boxs
        .box
          aiueo
        .box
          aiueo
        .box
          aiueo
        .box
          aiueo
      .past-boxs
        .box
          kakikukeko
        .box
          kakikukeko
        .box
          kakikukeko
        .box
          kakikukeko
        .box
          kakikukeko
    .my_page__main__logout{class: "main"}
      %h3 ログアウトしてよろしいですか？
      -# = link_to destroy_user_session_path, method: :delete, class: "header_btn" do
      -#   %b ログアウトする
      = link_to(destroy_user_session_path, method: :delete, class: "logout-btn") do
        %b ログアウトする
    .my_page__main__credit{class: "main"}
      %h2 登録クレジットカード情報
      - if @default_cards_information.nil?
        %p{class: "card__error-message"}
          = @card_error_message
      - else
        .cards-box
          - @default_cards_information.each_with_index do |card_information, i|
            .card-box{id:"card-#{i}"}
              %h3  Card 
              .card-number
                %p カード番号
                = "**** **** **** #{card_information.last4}"
              .expiration-date
                %p 有効期限
                - exp_month = card_information.exp_month.to_s
                - exp_year = card_information.exp_year.to_s.slice(2,3)
                = exp_year + " 年" + "/" + exp_month + " 月 "
              = link_to card_path(card_information.id), method: :delete, remote: true, class: "delete-btn", id: i  do
                削除する
      = link_to new_card_path, class: "card-btn" do
        カード登録する
