.footer   
  .footer__image 
    .footer__image__contents
      %h2.footer__image__contents__subtitle
        %br だれでもかんたん、人生を変えるフリマアプリ
      %p.footer__image__contents__text
        今すぐ無料ダウンロード！
      .footer__image__contents__btn
        = link_to "#", class: "aBtn" do
          = image_tag '/images/badge/app-store-badge.svg'
        = link_to "#", class: "gBtn" do
          = image_tag '/images/badge/google-play-badge.svg'
  .footer__menu
    %ul.footer__menu__lists
      %li.footer__menu__lists__list
        %h2.footer__menu__lists__list__subtitle
          FURIMAについて
        %ul.footer__menu__lists__list__menu
          %li
            = link_to "#" do
              会社概要（運営会社）
          %li
            = link_to "#" do
              プライバシーポリシー
          %li
            = link_to "#" do
              FURIMA利用規約
          %li
            = link_to "#" do
              ポイントに関する特約
      %li.footer__menu__lists__list
        %h2.footer__menu__lists__list__subtitle
          FURIMAを見る
        %ul.footer__menu__lists__list__menu
          %li
            = link_to "#" do
              カテゴリー一覧
          %li
            = link_to "#" do
              ブランド一覧
      %li.footer__menu__lists__list
        %h2.footer__menu__lists__list__subtitle
          FURIMAを見る
        %ul.footer__menu__lists__list__menu
          %li
            = link_to "#" do
              FURIMAガイド
          %li
            = link_to "#" do
              FURIMAロゴ利用ガイドライン
          %li
            = link_to "#" do
              お知らせ
    = link_to "#", class: :footer__menu__logo do
      = image_tag "/images/logo/logo-white.png", alt: "Furima_Footer_Logo"
    %small &copy;FURIMA