.header   
  .header__title  
    = link_to "#", class: :header__title__logo do
      = image_tag "/images/logo/logo.png", alt: "Furima_Logo"
    .header__title__search_bar
      = form_with(model: @item, local: true) do |f|
        = f.text_field :search_text, placeholder: "キーワードから探す", type: "text", class: :header__title__search_bar__text
        = button_tag type: "submit", class: :header__title__search_bar__image do
          = image_tag '/images/icon/icon-search 1.png'
    %ul.header__title__search_result
  .header__menu 
    %ul.header__menu__search_list
      %li
        = link_to "#", class: "header__menu__search_list--category" do
          カテゴリー
      %li
        = link_to "#", class: "header__menu__search_list--brand" do
          ブランド
    %ul.header__menu__menu-list
      %li
        = link_to new_user_session_path, class: "header__menu__menu_list--login" do
          ログイン
      %li
        = link_to new_user_registration_path, class: "header__menu__menu_list--registration" do
          新規会員登録
      %li
        = link_to destroy_user_session_path, method: :delete, class: "header__menu__menu_list--logout" do
          ログアウト

  .header__breadclumbs

.main   
  .main__service
    .main__service__image-top
      .main__service__image-top__contents
        %h2.main__service__image-top__contents__subtitle
          %br 人生を変えるフリマアプリ
        %p.main__service__image-top__contents__text
          FURIMAはだれでもかんたんに出品・購入できる
          %br フリマアプリです
        .main__service__image-top__contents__btn
          = link_to "#", class: "aBtn" do
            = image_tag '/images/badge/app-store-badge.svg'
          = link_to "#", class: "gBtn" do
            = image_tag '/images/badge/google-play-badge.svg'
    .main__service__introduction
      %h2.main__service__introduction__subtitle
        FURIMAが選ばれる３つの理由
      %ul.main__service__introduction__lists
        %li.main__service__introduction__lists--list
          .main__service__introduction__lists--list--pict
            %span.main__service__introduction__lists--list--pict--number
              1
            = image_tag '/images/pict/pict-reason-01.jpg'
          %h3.main__service__introduction__lists--list--subtitle
            %span 3分
            ですぐに出品
          %p.main__service__introduction__lists--list--text
            スマホで入力するだけで簡単に出品できる!        
        %li.main__service__introduction__lists--list
          .main__service__introduction__lists--list--pict
            %span.main__service__introduction__lists--list--pict--number
              2
            = image_tag '/images/pict/pict-reason-02.jpg'
          %h3.main__service__introduction__lists--list--subtitle
            %span シンプル
            で使いやすい
          %p.main__service__introduction__lists--list--text
            めんどくさい入力は必要なく、検索も購入もスムーズ!        
        %li.main__service__introduction__lists--list
          .main__service__introduction__lists--list--pict
            %span.main__service__introduction__lists--list--pict--number
              3
            = image_tag '/images/pict/pict-reason-03.jpg'
          %h3.main__service__introduction__lists--list--subtitle
            手数料
            %span 業界最安
          %p.main__service__introduction__lists--list--text
            最大3％でお得に出品&購入!        

    .main__service__image-middle
      .main__service__image-middle__contents
        %h2.main__service__image-middle__contents__subtitle
          %br 会員数日本一位
        %p.main__service__image-middle__contents__text
          FURIMAは、フリマアプリで最も人気。
          %br 出品・購入回数も業界最多です！
          ほしかったあの商品に出会えるかもしれません。
        .main__service__image-middle__contents__btn
          = link_to "#", class: "aBtn" do
            = image_tag '/images/badge/app-store-badge.svg'
          = link_to "#", class: "gBtn" do
            = image_tag '/images/badge/google-play-badge.svg'

    .main__service__point
      %h2.main__service__point__subtitle
        FURIMAの特徴
      %ul.main__service__point__lists
        %li.main__service__point__lists--list
          .main__service__point__lists--list--pict
            = image_tag '/images/icon/icon-01.png'
          %h3.main__service__point__lists--list--subtitle
            簡単に売り買いできる
          %p.main__service__point__lists--list--text
            スマホひとつで、いつでもどこでも簡単に出品・購入が可能!        
        %li.main__service__point__lists--list
          .main__service__point__lists--list--pict
            = image_tag '/images/icon/icon-03.png'
          %h3.main__service__point__lists--list--subtitle
            売上金は即日振込みに対応
          %p.main__service__point__lists--list--text
            午前9時までに振込をいただければ、翌日に指定の口座に入金いたします！
        %li.main__service__point__lists--list
          .main__service__point__lists--list--pict
            = image_tag '/images/icon/icon-04.png'
          %h3.main__service__point__lists--list--subtitle
            様々な支払いに対応
          %p.main__service__point__lists--list--text
            お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  .main__item__category
    %h2.main__item__category__title
      ピックアップカテゴリー
    .main__item__category__item_box
      = link_to "#", class: "main__item__category__item_box__title" do
        新規投稿商品
      %ul.main__item__category__item_box__lists
        %li
          = link_to "#", class: "main__item__category__item_box__lists--list, item_list" do
            = image_tag "/images/temp/a007.png", class: "item_list__picture"
            .item_list__body
              %h3.item_list__body__name product3
              %ul
                %li.item_list__body__price 30000円
                %li.item_list__body__likes
                  = icon 'fas', 'star'
                  0
              %p (税込)
        %li
          = link_to "#", class: "main__item__category__item_box__lists--list, item_list" do
            = image_tag "/images/temp/a004.png", class: "item_list__picture"
            .item_list__body
              %h3.item_list__body__name product2
              %ul
                %li.item_list__body__price 20000円
                %li.item_list__body__likes
                  = icon 'fas', 'star'
                  0
              %p (税込)
        %li
          = link_to "#", class: "main__item__category__item_box__lists--list, item_list" do
            = image_tag "/images/temp/a001.png", class: "item_list__picture"
            .item_list__body
              %h3.item_list__body__name product1
              %ul
                %li.item_list__body__price 10000円
                %li.item_list__body__likes
                  = icon 'fas', 'star'
                  0
              %p (税込)
  .main__item__brand
    %h2.main__item__brand__title
      ピックアップブランド
    .main__item__brand__item_box
      = link_to "#", class: "main__item__brand__item_box__title" do
        アーカイバ
      %ul.main__item__brand__item_box__lists
        %li
          = link_to "#", class: "main__item__brand__item_box__lists--list, item_list" do
            = image_tag "/images/temp/a007.png", class: "item_list__picture"
            .item_list__body
              %h3.item_list__body__name product3
              %ul
                %li.item_list__body__price 30000円
                %li.item_list__body__likes
                  = icon 'fas', 'star'
                  0
              %p (税込)
        %li
          = link_to "#", class: "main__item__brand__item_box__lists--list, item_list" do
            = image_tag "/images/temp/a004.png", class: "item_list__picture"
            .item_list__body
              %h3.item_list__body__name product2
              %ul
                %li.item_list__body__price 20000円
                %li.item_list__body__likes
                  = icon 'fas', 'star'
                  0
              %p (税込)
        %li
          = link_to "#", class: "main__item__brand__item_box__lists--list, item_list" do
            = image_tag "/images/temp/a001.png", class: "item_list__picture"
            .item_list__body
              %h3.item_list__body__name product1
              %ul
                %li.item_list__body__price 10000円
                %li.item_list__body__likes
                  = icon 'fas', 'star'
                  0
              %p (税込)
.footer   
  .footer__image 
    .footer__image__contents
      %h2.footer__image__contents__subtitle
        %br だれでもかんたん、人生を変えるフリマアプリ
      %p.footer__image__contents__text
        今すぐ無料ダウンロード！
      .footer__image__contents__btn
        = link_to "#", class: "aBtn" do
          = image_tag '/images/badge/app-store-badge.svg'
        = link_to "#", class: "gBtn" do
          = image_tag '/images/badge/google-play-badge.svg'
  .footer__menu
    %ul.footer__menu__lists
      %li.footer__menu__lists__list
        %h2.footer__menu__lists__list__subtitle
          FURIMAについて
        %ul.footer__menu__lists__list__menu
          %li
            = link_to "#" do
              会社概要（運営会社）
          %li
            = link_to "#" do
              プライバシーポリシー
          %li
            = link_to "#" do
              FURIMA利用規約
          %li
            = link_to "#" do
              ポイントに関する特約
      %li.footer__menu__lists__list
        %h2.footer__menu__lists__list__subtitle
          FURIMAを見る
        %ul.footer__menu__lists__list__menu
          %li
            = link_to "#" do
              カテゴリー一覧
          %li
            = link_to "#" do
              ブランド一覧
      %li.footer__menu__lists__list
        %h2.footer__menu__lists__list__subtitle
          FURIMAを見る
        %ul.footer__menu__lists__list__menu
          %li
            = link_to "#" do
              FURIMAガイド
          %li
            = link_to "#" do
              FURIMAロゴ利用ガイドライン
          %li
            = link_to "#" do
              お知らせ
    = link_to "#", class: :footer__menu__logo do
      = image_tag "/images/logo/logo-white.png", alt: "Furima_Footer_Logo"
    %small &copy;FURIMA


= link_to new_item_path, class: :item_btn do
  %span.item_btn__text
    出品する
  = image_tag '/images/icon/icon_camera.png', class: 'item_btn__logo'
