= render "shared/header"

= render "shared/item_btn"




.main
  .main__service

    .main__service__image-top

      .main__service__image-top__contents
        %h2.main__service__image-top__contents__subtitle
          %br 人生を変えるすげー
        %p.main__service__image-top__contents__text
          FURIMAはだれでもかんたんに出品・購入できる
          %br フリマアプリです
        .main__service__image-top__contents__btn
          = link_to "#", class: "aBtn" do
            = image_tag '/images/badge/app-store-badge.svg'
          = link_to "#", class: "gBtn" do
            = image_tag '/images/badge/google-play-badge.svg'
    .main__service__introduction
      %h2.main__service__introduction__subtitle
        FURIMAが選ばれる３つの理由
      %ul.main__service__introduction__lists
        %li.main__service__introduction__lists--list
          .main__service__introduction__lists--list--pict
            %span.main__service__introduction__lists--list--pict--number
              1
            = image_tag '/images/pict/pict-reason-01.jpg'
          %h3.main__service__introduction__lists--list--subtitle
            %span 3分
            ですぐに出品
          %p.main__service__introduction__lists--list--text
            スマホで入力するだけで簡単に出品できる!
        %li.main__service__introduction__lists--list
          .main__service__introduction__lists--list--pict
            %span.main__service__introduction__lists--list--pict--number
              2
            = image_tag '/images/pict/pict-reason-02.jpg'
          %h3.main__service__introduction__lists--list--subtitle
            %span シンプル
            で使いやすい
          %p.main__service__introduction__lists--list--text
            めんどくさい入力は必要なく、検索も購入もスムーズ!
        %li.main__service__introduction__lists--list
          .main__service__introduction__lists--list--pict
            %span.main__service__introduction__lists--list--pict--number
              3
            = image_tag '/images/pict/pict-reason-03.jpg'
          %h3.main__service__introduction__lists--list--subtitle
            手数料
            %span 業界最安
          %p.main__service__introduction__lists--list--text
            最大3％でお得に出品&購入!        
    .main__service__image-middle
      .main__service__image-middle__contents
        %h2.main__service__image-middle__contents__subtitle
          %br 会員数日本一位
        %p.main__service__image-middle__contents__text
          FURIMAは、フリマアプリで最も人気。
          %br 出品・購入回数も業界最多です！
          ほしかったあの商品に出会えるかもしれません。
        .main__service__image-middle__contents__btn
          = link_to "#", class: "aBtn" do
            = image_tag '/images/badge/app-store-badge.svg'
          = link_to "#", class: "gBtn" do
            = image_tag '/images/badge/google-play-badge.svg'

    .main__service__point
      %h2.main__service__point__subtitle
        FURIMAの特徴
      %ul.main__service__point__lists
        %li.main__service__point__lists--list
          .main__service__point__lists--list--pict
            = image_tag '/images/icon/icon-01.png'
          %h3.main__service__point__lists--list--subtitle
            簡単に売り買いできる
          %p.main__service__point__lists--list--text
            スマホひとつで、いつでもどこでも簡単に出品・購入が可能!        
        %li.main__service__point__lists--list
          .main__service__point__lists--list--pict
            = image_tag '/images/icon/icon-03.png'
          %h3.main__service__point__lists--list--subtitle
            売上金は即日振込みに対応
          %p.main__service__point__lists--list--text
            午前9時までに振込をいただければ、翌日に指定の口座に入金いたします！
        %li.main__service__point__lists--list
          .main__service__point__lists--list--pict
            = image_tag '/images/icon/icon-04.png'
          %h3.main__service__point__lists--list--subtitle
            様々な支払いに対応
          %p.main__service__point__lists--list--text
            お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  .main__item__category
    %h2.main__item__category__title
      ピックアップカテゴリー
    .main__item__category__item_box
      = link_to "#", class: "main__item__category__item_box__title" do
        新規投稿商品
      %ul.main__item__brand__item_box__lists
        = render "shared/list"

  .main__item__brand
    %h2.main__item__brand__title
      ピックアップブランド
    .main__item__brand__item_box
      = link_to "#", class: "main__item__brand__item_box__title" do
        アーカイバ
      %ul.main__item__brand__item_box__lists
        = render "shared/list"

= render "shared/footer"