.order-wrap  
  = render "shared/share_header"
  .order-container
    .order-mein.clearfix
      %section.order-content

        - breadcrumb :children
        = render "shared/breadcrumbs"

        %h2.order-content__head 購入内容の確認
        %section.order-content__item
          .order-content__inner
            .order-content__form
              %p.order-contet__price
                = image_tag @image.photo.url
                -if @item.status == 1
                  = render "shared/sold_out"
                = "#{@item.name}"
                %br
                = "¥#{@item.price} (税込)"
                %br
                %span.order-content__fee
                  送料込み
              %ul.order-content__accordion
                %li.order-content__list
              %ul.order-content__table
                %li.order-content__youpay
                  .order-content__pricecell 支払い金額
                  .order-content__pricecells 
                    = "¥#{@item.price}"         
        %section.order-content__info-under
          .order-content__inner
            .order-content__inner__post
              = link_to new_sending_path(item_id: @item.id), order: "true", class: 'order-content__change' do
                %span 変更する
                = icon 'fas', 'chevron-right'
              %h3 配送先
              -if @prefecture.nil?
                %p.order-error
                  = @sending_error_message
              -else
                %h4
                  = "〒#{@sending.postal_code.to_s}"
                %h5
                  = @prefecture.name + @sending.city + @sending.address 
                  %br
                  = @sending.building_name
                %h6
                  = @sending.first_name + @sending.last_name
            .order-content__pay-registration
              %h7  支払方法
              = link_to new_card_path(item_id: @item.id), class: 'order-content__registration' do
                %span 登録する
                = icon 'fas', 'chevron-right' 


            - if @default_cards_information.nil?
              %p.order_error
                = @card_error_message


            = form_with url: pay_item_orders_path, model: @order, class: :order_form, local: true do |f|
              = f.hidden_field :item_id, value: @item.id
              = f.hidden_field :sending_id, value: @sending.try(:id) 
              - @default_cards_information&.each_with_index do |card_information, i|
              
                %label.card_label
                = f.radio_button :card_id, card_information.id
                %span
                = "カード#{i + 1}"
                %br
                &emsp;     **** **** **** #{card_information.last4}
                &emsp;
                - exp_month = card_information.exp_month.to_s
                - exp_year = card_information.exp_year.to_s.slice(2,3)
                = exp_month + " / " + exp_year   
              -if @item.status == 0 
                = f.submit '購入する', class: "order-content__btn"              
  = render "shared/footer_logo"