.item-new
  .item-headder
    .itmem-headder-title
      mercariロゴ
  .item-main  
    .item-main-content
      .item-main-headder
        .headder-title
          商品の情報を入力
      .item-form  
        .sell-uproad
          .sell-text
            .sell-text-uproad
              出品画像
            %span.must-text
              必須
          .sell-text-details    
            最大10枚までアップロードできます
            .sell-drop-box
              .sell-drop-box-text
                = form_for [@item] do |f|
                  = f.text_field :item_text, class: 'form__message', placeholder: 'type a message'    
                  = f.label :item_image, class: 'image-label' do
                    = icon('fas', 'image', class: 'icon')
                    = f.file_field :item_image, class: 'hidden'
                  = f.submit 'Send', class: 'form__submit'
                ドラッグアンドドロップ
                %br
                またはクリックしてファイルをアップロード
         
        .sell-content
          .sell-content-groups
            .sell-content-label
              .sell-content-name
                商品名
              %span.must-text
                必須
            .input-default
              .input-defalt-name
                商品名 (必須40文字まで)

            
          .sell-content-item-detals
        .sell-details
        .sell-sending
        .sell-price









-# .main
-#   %section.main__block
-#     = form_with model:@item, local:true do |f|
-#       %h2.sell__block__head
-#         商品の情報を入力
-#       .sell__block__form
-#         .sell__block__form__upload
-#           %h3.sell__block__form__upload__head
-#             出品画像
-#             %span.require 必須
-#           %p 最大5枚までアップロードできます
-#           .post__drop__box__container
-#             .prev-content
-#             .label-content
-#               %label{for: "item_images_attributes_0_image", class: "abel-box", id: "label-box--0"}
-#                 %pre.label-box__text-visible クリックしてファイルをアップロード
-#             .hidden-content
-#               = f.fields_for :images do |i|
-#                 = i.file_field :image, class: "hidden-field"
-#                 %input{class:"hidden-field", type: "file", name: "item[images_attributes][1][image]", id: "item_images_attributes_1_image" }
-#                 %input{class:"hidden-field", type: "file", name: "item[images_attributes][2][image]", id: "item_images_attributes_2_image" }
-#                 %input{class:"hidden-field", type: "file", name: "item[images_attributes][3][image]", id: "item_images_attributes_3_image" }
-#                 %input{class:"hidden-field", type: "file", name: "item[images_attributes][4][image]", id: "item_images_attributes_4_image" }
-#         .sell__block__form__name
-#           .form-group__name
-#             %label
-#               商品名
-#               %span.require 必須
-#             %div
-#               = f.text_field :name, placeholder:"商品名（必須 40文字まで)",class: "form__group__name"

-#         .sell__block__form__btn
-#           %div
-#             = f.submit "出品する",class: "btn-default__btn-red"
-# i