= render "shared/header"
= render "shared/item_btn"

.main
  .main__show
    .main__show__top
      .main__show__top__item_box
        - if user_signed_in? && current_user.id == @item.user_id
          %li
            =link_to "編集", edit_item_path(id: @item.id)
          %li
            =link_to "削除", item_path(id: @item.id), method: :delete
        %end 
               
      %h1.main__show__top__item_box__name 
        = @item.name

      .main__show__top__item_box__body
        .first_image
          = image_tag @first_image.photo.url 
        .image_a
          - @images.each do |image|
            .image_b
              = image_tag image.photo.url  

      .main__show__top__item_box__price
        %span 2000円
        .main__show__top__item_box__price__detail
          %span（税込）
          %span（送料込み）
      .main__show__top__item_box__detail 
        = @item.name
      %table.table_item
        %tr.record
          %th.table_header 出品者
          %td = @user.nickname
        %tr.record
          %th.table_header カテゴリー
          %td メンズ  ジャケット/アウター
        %tr.record
          %th.table_header ブランド
          %td 
        %tr.record
          %th.table_header 商品のサイズ
          %td 
        %tr.record
          %th.table_header 商品の状態
          %td 
            = @item.condition
        %tr.record  
          %th.table_header 配送料の負担
          %td
            = @item.delivery_fee
        %tr.record
          %th.table_header 発送元の地域
          %td 
            = @item.shipping_area
        %tr.record
          %th.table_header 発送日の目安
          %td 
            = @item.delivery_time

    .main__show__purchase
      - if user_signed_in? && current_user.id != @item.user_id
        =link_to "購入する", orders_path(id: @item.id)


    .main__show__btn
      %ul
        %li
          =link_to "<前の商品", class:"" 
        %li
          =link_to "後ろの商品>", class:"" 

    .main__show__footer
      =link_to "メンズをもっと見る"

= render "shared/footer"


