= render "shared/header"
= render "shared/item_btn"

.main
  .main__show
    .main__show__top
      .main__show__top__item_box    
        = link_to "編集", "#" 
        =link_to "削除" , "#"
      %h1.main__show__top__item_box__name product

      .main__show__top__item_box__body
        = link_to "#", class: "aBtn" do
          = image_tag '/images/pict/bg-appBanner-pict.jpg'
          %ul
            %li
              = link_to "#", class: "aBtn" do
                = image_tag '/images/pict/pict-reason-01.jpg'
            %li
              = link_to "#", class: "aBtn" do
                = image_tag '/images/pict/pict-reason-02.jpg'
            %li
              = link_to "#", class: "aBtn" do
                = image_tag '/images/pict/pict-reason-03.jpg'
      .main__show__top__item_box__price
        %span 2000円
        .main__show__top__item_box__price__detail
          %span（税込）
          %span（送料込み）
      .main__show__top__item_box__detail product
      %table.table_item
        %tr.record
          %th.table_header 出品者
          %td ヤマダマン
        %tr.record
          %th.table_header カテゴリー
          %td メンズ  ジャケット/アウター
        %tr.record
          %th.table_header ブランド
          %td 
        %tr.record
          %th.table_header 商品のサイズ
          %td 
        %tr.record
          %th.table_header 商品の状態
          %td 新品/未使用
        %tr.record  
          %th.table_header 配送料の負担
          %td 着払い（購入者負担
        %tr.record
          %th.table_header 発送元の地域
          %td 青森県
        %tr.record
          %th.table_header 発送日の目安
          %td １〜２日で発送
    
    .main__show__btn
      %ul
        %li
          =link_to "<前の商品", class:"" 
        %li
          =link_to "後ろの商品>", class:"" 

    .main__show__footer
      =link_to "メンズをもっと見る"

= render "shared/footer"