= render "shared/item_btn"
= render "shared/share_header"

.card
  .card__content
    .card__content__title
      %h2 クレジットカード情報入力
    .card__credit-card
      .card__credit-card__inner
        .card__credit-card__inner__group
          = form_with url: cards_path, method: :post, html: { name: "inputForm" } do |f|
            %input{name: "item_id", type: "hidden", value: params[:item_id], id: 'item_id' }
            .cards-expire{id: "card_number_form"}
              = f.label :カード番号, class: 'label'
              %span.require  必須
              = f.text_field :card_number, type: 'text', class: 'card_number', placeholder: '半角数字のみ', maxlength: "16"
            .cards-expire{id: "input-expire"}
              = f.label :有効期限, class: 'label'
              %span.require  必須
              %br
              .cards-expire__wrap
                = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'input-expire'
                %span.expire-text 月
                = f.select :exp_year, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'input-expire'
                %span.expire-text 年
            .cards-expire
              = f.label :セキュリティコード, class: 'label'
              %span.require  必須
              = f.text_field :cvc, type: 'text', class: 'input-number', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4"
            .content-bottom#card_token
              = f.submit '追加する', class: 'content-bottom--add-btn', id: 'token_submit'
            %div
              - if params[:item_id].present?
                = link_to "戻る", new_item_order_path(params[:item_id]), class: "mypage-btn" 
              - else
                = link_to "戻る", edit_user_path(current_user.id), class: "mypage-btn"

  = render "shared/footer_logo"