%label 登録クレジットカード情報

- @default_cards_information.each_with_index do |card_information, i|
  %br
  = "カード: #{i + 1}"
  %br
  = "**** **** **** #{card_information.last4}"
  %br
  - exp_month = card_information.exp_month.to_s
  - exp_year = card_information.exp_year.to_s.slice(2,3)
  = exp_month + " / " + exp_year
= form_with url: delete_cards_path, method: :post, id: 'charge-form', name: "inputForm", local: true do
  %input{ type: "hidden", name: "card_id", value: "" }
  %button 削除する
= form_with url: new_card_path, local: true do
  %button カード登録